// This file was generated for Start Bootstrap Admin Pro
// https://startbootstrap.com/theme/sb-admin-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #48575f;
$secondary: #6eabc2;
$success: #3ac97c;
$danger: #d73f30;
$warning: #ebb20c;
$info: #9d46cd;
